
:host ::ng-deep {
  .editor-toolbar {
    margin: 0;
  }
  .ProseMirror {
    margin-top: 0;
    min-height: 10vh;
    background-color: rgba(var(--grey-dimmed), 0.3);
    margin-bottom: 1rem;
    max-width: 100%;
    min-width: 100%;
  }
}