.sticky {
    position: sticky;
    top: 1rem;
}

.error {
    border-left: 12px solid rgb(255, 166, 0);
    overflow-y: auto;
}

::ng-deep {

    h1[data-part-role]::before {
        content: attr(data-part-role);
        display: block;
    }

    h1[data-part-role=""]::before {
        content: "h1";
    }

    figure::before {
        display: block;
        content: attr(data-alt);
        font-weight: bold;
        padding-bottom: 1rem;
        margin: 0 auto;
    }

    figure {
        margin: 2rem auto;
        width: 80%;
        min-height: 6rem;
        padding: 2rem;
        border: 2px dotted #ddd;
    }

    cite {
        background: ddd;
        border-bottom: 1px dotted grey;
    }

    .page {
        transform-origin: top center;
        transform: scale(0.9);
        border-radius: 0.5rem;
    }

    [data-part-role="title"] {
        font-size: 3rem;
        text-align: center;
    }

    h1[data-level="1"] {
        border-radius: 0.25rem;
        padding-top: 3rem;
    }

    [data-level]::before {
        content: "h" attr(data-level) " ";
        font-style: italic;
        color: grey;
        font-size: 1rem;
        position: absolute;
        transform: translateX(-2rem);
    }
}

.preview-reference {
    font-size: 75%;
    overflow-y: auto;
    background: rgb(244, 244, 244);
    margin-bottom: 0.5rem;
}

dl {
    dt {
        font-weight: bold;
    }
}

.pandoc-node-preview {
    transform: scale(0.5);
    img {
        min-width: 20px;
        min-height: 20px;
        border: 1px solid black;
    }
}