.cursor-move {
    cursor: move;
}

.image {
    img {
        border-radius: 0.25rem;
        border: 1px solid #ddd;
        cursor: zoom-in;
        max-height: 280px;
        max-width: calc(32rem);
    }
}

.drop-zone-active {
    border: 2px dotted #148DC6;
}

.drop-zone {
    border: 2px dotted #ddd;
}