.fc-grey{
    color: rgba(var(--background-tooltip), 1);
}
.uppercase {
    text-transform: uppercase;
}
.small {
    font-size: 0.85rem;
}
.cursor-pointer {
    cursor: pointer;
}
.opacity {
    opacity: 0.5;
}

.border-radius-0 {
    border-radius: 0;
}