body {
    margin: 5rem auto;
    max-width: 80rem;
    background: white;
    padding: 2rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 0.5rem;
    /* font-size: 14pt; */
}

.coverpage {
    padding: 2.5rem;
}

.coverpage h1 {
    text-align: left;
}

a {
    color: black;
    text-decoration: none;
}
