// @import 'pagedjs.scss';
// @import 'two.scss';zz
// Debug pages and regions
// @page:left {
//     background: red;
// }

// @page:right {
//     background: green;
// }

// body {
//   background: blue;
// }

// @page {
//   @page-float-top {
//     background-color: white;
//   }
// }

// @page {
//   @top-left {
//       background: yellow;
//   }
//   @top-right {
//     background: yellowgreen;
//   }
// }

// @page {
//   @bottom-left {
//       background: yellow;
//   }
//   @bottom-right {
//     background: yellowgreen;
//   }
// }
/////////////////////////////////////////

html,
body {
  margin: 0;
  text-align: justify;
  -webkit-hyphens: auto;
  hyphens: auto;
  line-height: 1.5;
  prince-text-replace: "æ" "ae" "Œ" "OE" "œ" "oe" "ﬁ" "fi" "ﬂ" "fl";
}

p, h1, h2, h3, h4, h5, h6, figcaption {
  text-align-last: start;
}

.front {
  page: front;
}

.body {
  page: body;
  counter-reset: page 1;
}

.back {
  page: back;
}

// use REM and check all fonts
//default 10pt: 20,15,13,10
h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 10%;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

h3 {
  font-size: 1.3rem;
  font-weight: bold;
}

h4,
h5,
h6 {
  font-size: 1rem;
  font-style: italic;
  font-weight: 500;
}

// Headings numbering
h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  text-indent: 0;
  text-indent: initial;
  page-break-after: avoid;
  -moz-column-break-after: avoid;
  break-after: avoid;
  page-break-inside: avoid;
  -moz-column-break-inside: avoid;
  break-inside: avoid;
  text-align: left;
  -webkit-hyphens: manual;
  hyphens: manual;
}

h1 span[data-numbering]:before,
h2 span[data-numbering]:before,
h3 span[data-numbering]:before,
h4 span[data-numbering]:before,
h5 span[data-numbering]:before,
h6 span[data-numbering]:before {
  position: absolute;
  top: 0;
  left: 0;
  content: attr(data-numbering);
}

h1 span[data-numbering],
h2 span[data-numbering],
h3 span[data-numbering],
h3 span[data-numbering],
h4 span[data-numbering] {
  display: block;
  hyphens: none;
}

/* Adding space between heading and heading counter */
// DOUBT: kit is doing 16px rem for some reason although the body font size is 10pt (13.333px);
h1 span[data-numbering] {
  padding-left: 3rem;
  //   padding-left: 2.5rem;
}

h2 span[data-numbering] {
  padding-left: 3rem;
  //   padding-left: 2.5rem;
}

h3 span[data-numbering] {
  padding-left: 4.2rem;
}

h4 span[data-numbering] {
  padding-left: 4.8rem;
}

h5 span[data-numbering] {
  padding-left: 5.4rem;
}

p {
  margin: 0.1rem 0 0.35rem 0;
  &:last-child {
    margin-bottom: 0;
  }
}

blockquote {
  font-size: 1rem;
  text-indent: 7mm;
}

.body {
  li {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

sup,
sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

sub {
  top: 0.4em;
}

@page wide {
  margin: 1cm;
  prince-rotate-body: landscape;
  prince-shrink-to-fit: auto;
}

.figure-wrapper[orientation="landscape"] {
  page: wide;
  figure {
      margin: 0 auto;
      img {
        max-height: calc(100vh - 5cm);
      }
    table {
      margin: 0.25rem auto;
    }
  }
}

figure[data-type="equation"] {
  text-align: center;
}