<mat-drawer-container autosize hasBackdrop="false" class="editor-container"
    [class]="(dcaDrawer.opened) ? (dcaExpanded$ | async) ? 'dca-opened dca-expanded' : 'dca-opened' : ''">
    <mat-drawer-content id="editor-drawer" cdkScrollable>
        <div class="editor-content">
            <div class="editor-left-flex"></div>
            <section aria-label="main document" class="editor mx-auto">
                <ng-template [cdkPortalOutlet]="editorHole"></ng-template>
            </section> <!-- .editor -->
            <nav class="dca-menu pr1" aria-label="document navigation" *ngIf="isDocumentLoaded$ | async">
                <button mat-icon-button (click)="toggleDca()" class="my1" matTooltipPosition="before" matTooltip="Open/Hide">
                    <mat-icon style="vertical-align: text-top;">
                        {{dcaDrawer.opened ? 'arrow_forward' : 'arrow_back' }}</mat-icon>
                </button>
                <button mat-icon-button class="mb1" (click)="toggleDca('outline')" matTooltipPosition="before" matTooltip="Document outline">
                    <mat-icon svgIcon="toc"></mat-icon>
                </button>
                <!-- <button mat-icon-button
                    (click)="toggleDca('project')">
                    <mat-icon matTooltip="Documents" style="vertical-align: text-top;">storage</mat-icon>
                </button> -->
                <button mat-icon-button class="mb1" (click)="toggleDca('authors')" matTooltipPosition="before" matTooltip="Authors">
                    <mat-icon svgIcon="authors"></mat-icon>
                </button>
                <button mat-icon-button class="mb1" (click)="toggleDca('references')" matTooltipPosition="before" matTooltip="Reference Library">
                    <mat-icon svgIcon="references"></mat-icon>
                </button>
                <button mat-icon-button class="mb1" (click)="toggleDca('export')" matTooltipPosition="before" matTooltip="Export configuration">
                    <mat-icon svgIcon="templates"></mat-icon>
                </button>
            </nav>
        </div> <!-- editor-content -->
    </mat-drawer-content>

    <mat-drawer #dcaDrawer mode="side" position="end" autoFocus="true" class="dca-area">
        <section aria-label="document actions">
            <router-outlet #contextOutlet name="context" (activate)='onActivate($event)' (deactivate)='onDeactivate($event)'>
            </router-outlet>
        </section>
    </mat-drawer>
</mat-drawer-container>