<form action="" class="hidden-form m2" enctype="multipart/form-data" style="display: none;">
  <input #fileUpload type="file" (change)="onUpload($event)">
</form>

<div class="mt4 lg-col-5 md-col-10 col-6 mx-auto">
  <div *ngIf="project$ | async; let project; else newProject">
    <h1>Project <i>{{ project?.projectId }}</i></h1>
    <p>You can share access to this project by copying the link from your browser's address bar. It is long enough that it cannot be easily guessed.</p>
    <p>All files you have uploaded or saved in this project are listed below ({{ project.sizeInMb }}MB).</p>
    <div *ngFor="let resource of project.resources" class="p1 flex justify-between mb1">
      <span><b>{{ resource.name }}</b> ({{ resource.type === 'json' ? 'saved manuscript' : 'original ' + resource.type
        }}) <br />modified: {{ resource.latestVersion?.LastModified | date: 'short' }}</span>
      <button *ngIf="resource.type === 'json'" color="primary" mat-mini-fab matTooltip="Edit document"
        aria-label="Edit document" (click)="openResource(resource)">
        <mat-icon>edit</mat-icon>
      </button>
      <button *ngIf="resource.type === 'docx'" color="none" mat-mini-fab matTooltip="View file" aria-label="View"
        (click)="openResource(resource)">
        <mat-icon>visibility</mat-icon>
      </button>
    </div>
  </div>
  <ng-template #newProject>
    <h1 class="h1 mb4 py2 center" *ngIf="instanceData?.instanceTitle">{{ instanceData?.instanceTitle }}</h1>
    <h2 class="h2"><mat-icon>note_add</mat-icon> Upload your manuscript</h2>
    <p>The importer will recognize .docx files</p>
    <h2>Word manuscript preparation steps</h2>
    <ol>
      <li class="p1">Please ensure you have used Heading 1-5 to structure your document</li>
      <li class="p1">We recommend to upload ~300dpi figure images after the import for better production quality.<br />
        <small>You can leave images in the document.</small>
      </li>
    </ol>

    <!--       <h2>Additional options</h2>
      <p>If you used Heading 1 to designate chapter titles you can leave this as is.</p>
      <mat-form-field appearance="outline" class="ml2">
        <mat-label>Chapter heading</mat-label>
        <mat-select #shiftHeadings [value]="0">
          <mat-option [value]="0">
            Heading 1 (default)
          </mat-option>
          <mat-option [value]="-1">
            Heading 2
          </mat-option>
        </mat-select>
      </mat-form-field> -->

  </ng-template>

  <button mat-raised-button color="primary" class="save" (click)="fileUpload.click()" style="width: 100%;">Upload a
    manuscript</button>
</div>