/**
Warning: These styles are global.
*/

@import '../../../../../../node_modules/prosemirror-view/style/prosemirror.css';
@import '../../../../reference-app/src/scss/basscss_vars';

:fullscreen {
    background: rgba(var(--background-card), 1);
    color: rgba(var(--foreground-text), 1);

    .ProseMirror {
        margin: 0 10%;
        font-size: 1.25rem;
    }
}

.ProseMirror-SciFlow-style {
    padding: 1rem;
}

.disable-event {
    pointer-events: none;
}

.editor-wrapper {
    // these are the margins we can render elements into (see overlay below)
    margin: 0 12rem;
}

.editor-overlay {
    //position: sticky;
    height: 1px;
    // this will cause overlays always to be rendered 
    // irrespective of the current scroll position
    //top: 0;
}

.editor-toolbar {
    button {
        color: rgba(var(--foreground-button), 1);
    }

    button:disabled {
        color: rgba(var(--foreground-button-disabled), 1);
    }
}

sfo-selection-actions {
    display: none;
}

@media #{$breakpoint-lg} {
    sfo-selection-actions {
        display: block;
    }
}

// This should be for the bottom sheet only
.editor-bottom-sheet-wrapper {
    position: sticky;
    bottom: 0;
    max-height: 60vh;
    width: 90%;
    margin: 0 auto;
    z-index: 1;
    // prevents scroll move when adding bottom sheet
    // overflow: hidden;
    // padding: 30px 40px 0 40px;
    // margin-top: -30px;
    // pointer-events: none;
}

.editor-bottom-sheet {
    display: block;
    overflow: hidden;
    background-color: rgba(var(--background-background), 1);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: 0 8px 10px -5px rgba(var(--foreground-elevation), 0.2), 0 16px 24px 2px rgba(var(--foreground-elevation), 0.14), 0 6px 30px 5px rgba(var(--foreground-elevation), 0.12);
    position: relative;
    bottom: 0;
    animation: slideBottom .3s ease-out;

}

@keyframes slideBottom {
    from {
        bottom: -25vh;
    }
}


:host {
    width: 100%;
}

.ProseMirror {
    font-family: 'Raleway', sans-serif;
    background: var(--background-background);
    line-height: 1.65;
    font-size: 1rem;
    font-weight: 300;
    outline: none;

    // min-height: 12rem;
    min-width: 20rem;
    max-width: 52rem;

    // the editor depends on this to be set to pre-wrap
    white-space: pre-wrap;

    counter-reset: h1;
    counter-reset: footnote;

    .js-search-highlight {
        background: rgba(var(--primary-color-A700), 1);
    }

    @for $index from 1 through 6 {
        h#{$index}:before {
            color: rgba(var(--foreground-text), 0.5);
            text-align: right;
            opacity: 0.6;
            min-width: 4rem;
            position: absolute;
            font-weight: 500;
            font-size: 0.9rem;
            transform: translateX(-6.5rem);
            content: "Heading #{$index} \A" attr(data-numbering);
        }
    }

    @for $index from 1 through 6 {
        h#{index} {
            // color: rgba(var(--primary-color-300), 1);
        }
    }

    header {
        text-align: left;
        margin: 2rem 0;

        h1 {
            margin: 0;
            font-size: 2rem;
            text-align: center;
        }

        h1:before {
            content: "Title";
        }

        h2 {
            text-align: left;
            margin: 0;
        }

        h2:before {
            content: "Subtitle";
        }
    }

    h1:before {
        font-size: 0.8rem;
        position: absolute;
        text-align: left;
        color: #555;
        content: attr(data-type) " h" attr(data-level integer);
    }

    h1[data-level]:before {
        font-size: 0.8rem;
        position: absolute;
        text-align: left;
        color: #555;
        content: attr(data-type string "test");
    }

    /* p:before {
         color: rgba(var(--primary-color-300), 1);
         text-align: right;
         min-width: 4.4rem;
         position: absolute;
         font-size: 1rem;
         padding-right: 1rem;
         font-family: "Material Icons";
         content: "short_text";
         transform: translateX(-5rem);
    } */

    th>p:before,
    td>p:before,
    li>p:before {
        content: "";
    }

    h1 {
        font-size: 1.4rem;
        font-weight: 600;
        counter-increment: h1;
        margin-top: 2.5rem;
    }

    [id]:target {
        border-left: 1.25rem solid rgba(var(--primary-color-300), 1);
        padding-left: 1rem;
    }

    figure:target {
        border-left: 1.25rem solid rgba(var(--primary-color-300), 1);
        padding-left: 1rem;
    }

    [data-type="footnote"] {
        counter-increment: footnote;
        margin-left: 0.2rem;
        border-radius: 0.25rem;
        border: 1px solid rgba(var(--primary-color-300), 0.6);
    }

    [data-type="footnote"]:before {
        background: rgba(var(--primary-color-300), 0.6);
        content: "fn" counter(footnote);
        font-size: 0.9rem;
    }

    h2 {
        font-size: 1.25rem;
        font-weight: 400;
    }

    h3,
    h4,
    h5,
    h6 {
        font-size: 1.1rem;
    }

    pre {
        display: block;
        margin: 2rem auto;
        border-top: 1px dotted rgba(var(--primary-color-300), 1);
        border-bottom: 1px dotted rgba(var(--primary-color-300), 1);
        padding: 1rem 0;
    }

    math {
        background: rgba(var(--primary-color-300), 1);
        font-style: italic;
    }

    cite {
        cursor: grab;
        border-radius: 0.25rem;
        border: 1px solid rgba(var(--primary-color-300), 0.6);
    }

    cite.js-citation-active {
        background: rgba(var(--primary-color-300), 0.6);
    }

}

.fullMode#editorScrollable {
    // width: 100%;
    // height: calc(100vh - 128px);
    // overflow-y: auto;
    // overflow-x: none;
}

.fullMode {
    .ProseMirror {
        // font-size: 1.125rem;
        // padding: 2rem 8rem 1.5rem 8rem;
    }

}

.border-outer {
    border: 2px solid;
    border-radius: 5px;
    background: rgba(var(--background-card), 1);
    color: rgba(var(--foreground-text), 1);
}

.mat-menu-panel {
    min-height: 0px !important;
}

.mat-menu-content:not(:empty) {
    padding: 0px !important;
}

p[text-align="null"] {
    text-align: left;
}

p[text-align="left"] {
    text-align: left;
}

p[text-align="center"] {
    text-align: center;
}

p[text-align="right"] {
    text-align: right;
}

p[text-align="justify"] {
    text-align: justify;
}

.figure-wrapper {
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 1.5rem;
    position: relative;
    border: 1px solid transparent;
    border-radius: .5rem;
    box-shadow: 0 2px 2px -1px rgb(0 0 0 / 20%), 0 4px 5px 1px rgb(0 0 0 / 14%), 0 1px 7px 1px rgb(0 0 0 / 12%);

    figcaption {
        margin: 2rem auto 1rem auto;
        font-size: 0.875rem;
        padding: 0.5rem;
        border-radius: 0.25rem;
        width: 90%;
        border: 1px solid solid rgba(var(--primary-color-300), 1);
        position: relative;

        &:before {
            color: rgba(var(--primary-color-300), 1);
            content: "Figure caption";
            font-family: inherit;
            position: absolute;
            top: -0.875rem;
            left: 50%;
            transform: translateX(-50%);
        }

        p {
            background-color: rgba(var(--grey-dimmed), 0.3);
            padding: 0.3rem;
            margin-bottom: 0;

            &:first-child {
                margin-bottom: 2rem;
            }
        }

        p::before {
            content: "";
        }

        p:nth-of-type(2) {
            position: relative;
            background-color: rgba(var(--grey-dimmed), 0.3);
            padding: 0.3rem;

            &::before {
                color: rgba(var(--primary-color-300), 1);
                content: "Notes";
                font-family: inherit;
                position: absolute;
                font-size: 0.875rem;
                top: -1.5rem;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        p:nth-of-type(1).ProseMirror-selectednode::before {
            content: "";
            font-family: inherit;
        }
    }

    &[data-type="figure"],
    &[data-type="table"] {
        border: 2px solid rgba(var(--background-card), 1);

        &.selected {
            border: 2px solid rgba(var(--primary-color-300), 1);
        }
    }

    &[data-type="figure"] {
        // max-height: 12rem;
        // max-width: 36rem;
        margin: 1rem auto;

        .images {
            display: flex;
            justify-content: center;

            img {
                max-width: 12rem;
                max-height: 12rem;
            }
        }

        figcaption {
            &:before {
                content: "Figure caption";
            }
        }
    }

    // Maybe we should normalize figcaptions for all data types to avoid code repetition
    &[data-type="table"],
    &[data-type="native-table"] {
        figcaption {
            &:before {
                content: "Table title";
            }
        }

        table {
            color: var(--background-background);
            border: 1px solid #034b7d;
            margin: 1px auto;
            padding: 1px;
            font-size: .75rem;
            border-collapse: collapse;
            table-layout: fixed;
            width: 100%;
            overflow: hidden;
        }

        th,
        td {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            background-clip: padding-box; // fixes issues in Firefox with disappearing borders
            border-left: 1px solid #148DC6;
            border-right: 1px solid #148DC6;
            border-top: 1px solid #148DC6;
            background-color: var(--background-background);

            p {
                padding: 0;
                margin: 0.25rem 0;
            }
        }

        th {
            background-color: var(--background-background);
            border-bottom: 1px solid #148DC6;
        }

        td:empty {}

        .selectedCell {
            background: #7FCBE8;
        }
    }

    &[data-type="code"] {
        figcaption {
            &:before {
                content: "Code title";
            }
        }
    }

    [has-caption="true"][has-notes="false"] {
        figcaption {
            &::after {
                bottom: -1rem;
                left: 50%;
                transform: translateX(-50%);
                position: absolute;
                opacity: 0.8;
                color: rgba(var(--grey-default), 1);
                content: "Add a caption and press enter to add notes";
            }
        }
    }

    a[data-type="xref"] {
        font-style: italic;
        text-decoration: none;
        background: rgba(var(--primary-color-300), 1);
    }

    a[data-type="xref"][data-target="figure"]:before {
        content: 'fig ';
    }

    a[data-type="xref"][data-target="heading"]:before {
        content: 'h' attr(data-target-level) ' ';
    }


}

// blockquote style
.ProseMirror blockquote {
    padding-left: 1em;
    border-left: 3px solid #eee;
    margin-left: 0;
    margin-right: 0;
}

@import '../../../../reference-app/src/scss/codemirror.scss';

// mathjax styling
.js-math {
    // reset properties set by ProseMirror
    white-space: normal;
    cursor: pointer;
    user-select: all;
}

.js-math-inline {
    display: inline-table;
}

.js-math-block {
    display: block;
    width: 100%;
    padding: 0.25rem;
    margin: 0.5rem;
    text-align: center;
}

.MathJax_Display {
    margin: 0;
}

.js-math-empty {
    background: #ddd;
    min-width: 1em;
}

.editor {
    z-index: 0;
}

sfo-structure-menu {
    color: rgba(var(--foreground-text), 1);
}


cite:focus {
    background-color: yellow;
}

// pageBreak styling

[data-type=page-break] {
    display: block;
    opacity: 0.5;
    background: var(--background-background);
    border-top: 2px solid var(--foreground-divider);
    margin-bottom: 3rem;
}

[data-type=page-break]:before {
    content: "page break";
}

// table column resize
.ProseMirror td,
.ProseMirror th {
    vertical-align: top;
    box-sizing: border-box;
    position: relative;
}

.ProseMirror .column-resize-handle {
    position: absolute;
    right: -2px;
    top: 0;
    bottom: 0;
    width: 4px;
    z-index: 20;
    background-color: #adf;
    pointer-events: none;
}

.ProseMirror.resize-cursor {
    cursor: ew-resize;
    cursor: col-resize;
}

.structuring-overlay {
    background: red;
    border: 2px dotted orange;
}