.add-author {
    background: #0b6a9f;
    color: white;

    mat-form-field {
        mat-label {
            color: white;
        }
        mat-hint {
            color: white;
        }
    }
}
.actions {
    display: flex;
    flex-direction: row-reverse;
}
.title {
    margin: 0px;
}