// FIXME DS
@debug "Executing overrides";

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Work Sans", prince-no-fallback;
  font-weight: 500;
}

@page {
  @top-left {
    font-family: "Work Sans", prince-no-fallback;
    font-weight: 500;
  }

  @top-right {
    font-family: "Work Sans", prince-no-fallback;
    font-weight: 500;
  }
  @bottom-left {
    font-family: "Work Sans", prince-no-fallback;
    font-weight: 500;
  }
  @bottom-right {
    font-family: "Work Sans", prince-no-fallback;
    font-weight: 500;
  }

}

h1 {
  font-size: 12pt;
}

h2 {
  font-size: 10pt;
}

h3 {
  font-size: 10pt;
}

h4 {
  font-size: 10pt;
}

body {
  line-height: 1.5rem;
}

.Title {
  margin: 0.25rem 0 1.25rem 0;

  .authors {
    font-size: 10pt;
  }

  h1 {
    font-size: 12pt;
  }

  counter-reset: page 100;
}

a {
  color: black;
}

@page {
  @footnote {
    margin-top: 0.5rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    margin-bottom: 0.5rem;
  }
}

// DEBUG FONT WEIGHT WS
// p:nth-child(2) {
//   font-family: "Work Sans", prince-no-fallback;
//   font-weight: 500;
// }

// p:nth-child(3) {
//   font-family: "Work Sans", prince-no-fallback;
//   font-weight: 400;
//   background: lightgrey;
// }