:host {
    display: flex;
    flex-direction: column;
    max-width: 180px;
    border-radius: 0.5rem;
}

.menu {
    width: 180px;
    transform: scale(0.9);
    background-color: rgba(var(--background-card), 1);
    border-radius: 0.5rem;
    opacity: 1;
    border-radius: 0.75rem;
}

.chapter-options {
    font-size: 0.75rem;
}