<div class="container-scrollable">
  <mat-toolbar color="primary" class="items-center justify-between">
    <div class="flex items-center">
      <!-- <button mat-icon-button  aria-label="Close" (click)="dcaDrawer.close()"> -->
      <button mat-icon-button  aria-label="Close">
        <mat-icon>close</mat-icon>
      </button>
      <span>Document Context</span>
    </div>
    <!-- <button mat-icon-button  aria-label="Close" (click)="dcaExpanded = !dcaExpanded"> -->
    <button mat-icon-button  aria-label="Close">
      <mat-icon>backspace</mat-icon>
    </button>
  </mat-toolbar>
  <div class="container-scrollable-wrapper">
    <div class="container-scrollable-overflow">
      <div class="flex"> 
        <div class="p2">
          <section>
            <div>
                {{ selection$ | async | json }}
            </div>
            <div>
                <ul *ngIf="citations$ | async; let citations">
                    <li *ngFor="let citation of citations" [ngClass]="{ border: citation.selected }"><a
                            href=#{{citation.id}} (click)="navigateTo($event, citation.id)">{{
                            citation.level }} {{ citation.label }}</a></li>
                </ul>
                <ul *ngIf="figures$ | async; let figures">
                    <li *ngFor="let figure of figures" [ngClass]="{ border: figure.selected }"><a href=#{{figure.id}}
                            (click)="navigateTo($event, figure.id)">{{ figure.label }}</a></li>
                </ul>
                <ul *ngIf="headings$ | async; let headings">
                    <li *ngFor="let heading of headings" [ngClass]="{ border: heading.selected }"
                        [ngClass]="['pl' + (heading.level - 1)]"><a href=#{{heading.id}}
                            (click)="navigateTo($event, heading.id)">{{ heading.label }}</a></li>
                </ul>
            </div>
          </section>
        </div>
      </div>
    </div> <!-- container-scrollable-overflow -->
  </div> <!-- container-scrollable-wrapper -->
</div> <!-- container-scrollable-->




