
.cdk-drag-preview {
    background-color: white;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
.cdk-drag-animating {
transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drag-placeholder {
    background: #cfecf9;;
    border: dashed 2px #0b6a9f;
    min-height: 58px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drag-handle {
    float: right;
    padding: 25px 10px;
    cursor: move;
    color: #034B7D;
}
.dca-width {
    width: var(--dca-width);
}