.avatar {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: rgba(var(--background-avatar), 1);
    text-align: center;    
}

.user-online {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 10px;
    height: 10px;
    background: #19944A;
    border: 1px solid #ffffff;
    border-radius: 50%;
}